# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

/Overcooked/Debug
/Overcooked/Release
/Overcooked/Overcooked/Debug
/Overcooked/Overcooked/Release
/Overcooked/.vs/Overcooked/v14
/Overcooked/Overcooked.VC.VC.opendb
/Overcooked/Overcooked.VC.db
/Overcooked.VC.db
/.vs/Overcooked/v14/.suo
*.lnk
